.login {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding-top: clamp(40px, 20%, 180px);
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (max-width: 430px) {
		padding: 85px 10px 0 10px;
		max-width: none;
		margin: 0;
		width: 100%;
		box-sizing: border-box;
	}

	&__logo {
		width: 178px;
	}

	&__method-buttons {
		margin-top: 40px;
		display: flex;
		gap: 16px;
		width: 100%;
	}

	&__separator {
		width: 100%;
		border-bottom: 1px solid #e3e6e9;
		margin: 38px 0;
		position: relative;

		&::after {
			content: 'OR';
			display: block;
			position: absolute;
			top: -7px;
			left: 50%;
			transform: translateX(-50%);
			background-color: #fff;
			padding: 0 5px;
			font-size: 12px;
			line-height: 16px;
			font-weight: 500;
			color: #e3e6e9;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 25px;
	}

	&__link {
		color: #316fea;
		font-size: 14px;
		line-height: 20px;
		align-self: flex-end;
		text-decoration: none;
		font-weight: 500;

		&:hover {
			text-decoration: underline;
		}
	}

	&__register {
		font-size: 15px;
		display: flex;
		align-items: center;
		gap: 5px;
		margin-top: 20px;
	}
}
