.reset-password {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding-top: clamp(40px, 20%, 180px);
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (max-width: 430px) {
		padding: 85px 10px 0 10px;
		max-width: none;
		margin: 0;
		width: 100%;
		box-sizing: border-box;
	}

	&__logo {
		width: 178px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 25px;
		margin-top: 40px;
	}
}
